<<<<<<< HEAD
* {
	box-sizing: border-box;
}

body {
	background-color: #34495e;
	color: #fff;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80vh;
	margin: 0;
	overflow: hidden;
}

h1 {
	margin: 20px 0 0;
}

.game-container {
	padding: 20px 30px;
	position: relative;
	margin: auto;
	height: 350px;
	width: 450px;
}

.figure-container {
	fill: transparent;
	stroke: #fff;
	stroke-width: 4px;
	stroke-linecap: round;
}

.figure-part {
	display: none;
	stroke: red;

}

.wrong-letters-container {
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	flex-direction: column;
	text-align: right;
}

.wrong-letters-container p {
	margin: 0 0 5px;
}

.wrong-letters-container span {
	font-size: 24px;
}

.word {
	display: flex;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
}

.letter {
	border-bottom: 3px solid #2980b9;
	display: inline-flex;
	font-size: 30px;
	align-items: center;
	justify-content: center;
	margin: 0 3px;
	height: 50px;
	width: 20px;
}

.popup-container {
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	display: none;
	align-items: center;
	justify-content: center;
}

.popup {
	background-color: #2980b9;
	border-radius: 5px;
	box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
}

.popup button {
	cursor: pointer;
	background-color: #fff;
	color: #2980b9;
	border: 0;
	margin-top: 20px;
	padding: 12px 20px;
	font-size: 16px;
}

.popup button:active {
	transform: scale(0.98);
}

.popup button:focus {
	outline: 0;
}

.notification-container {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px 10px 0 0;
	padding: 15px 20px;
	position: absolute;
	bottom: -50px;
	transition: transform 0.3s ease-in-out;
}

.notification-container p {
	margin: 0;
}

.notification-container.show {
	transform: translateY(-50px);
}
=======
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

html {
  scroll-behavior: smooth;
}

.btn.blueviolet {
  background-color: blueviolet;
  color: whitesmoke;
  margin-left: -90px;
  border-radius: 0 30px 30px 0;
}

input.form-control {
  border-radius: 30px 0 0 30px;
}

div.bg-image {
  background-image: url(img/sutirta-budiman-DxmBSgUYKis-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: saturate(80%);
          filter: saturate(80%);
  background-attachment: fixed;
}

.btn.blueviolet:hover {
  background-color: #5b05aa;
  color: #dddddd;
}

div.hero {
  margin-top: 65px !important;
  padding-bottom: 110px;
}

.card {
  width: 48%;
  margin: 5px 0 0 5px;
}

.space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
}

.changes {
  overflow: hidden;
}

.changePos {
  position: relative;
  top: -22px;
}

.changes h5 {
  margin-top: -22px;
}

.navbar-toggler {
  border: none;
  font-size: 1.5em;
}

.navbar-collapse li {
  border-bottom: 1px solid #eaeaea;
}

.dropdown-menu.show {
  background: transparent;
  padding: 1px 1px;
  margin-bottom: 5px;
  border: 1px solid #eaeaeaea;
}

.dropdown-item {
  color: whitesmoke;
}

.btn-doni {
  background-color: blueviolet;
  color: white;
}

.btn-doni:hover {
  background-color: #5b05aa;
  color: #dddddd;
}

.tengah {
  margin: 0 auto;
  width: 200px;
  margin: 20px 0;
  border-radius: 50px;
}

.tombol-tengah {
  width: 100%;
  margin: 0 auto !important;
}

.text-tengah {
  text-align: center;
}

.hidden {
  display: none;
}

.hiddens {
  display: none;
}

.hiddenss {
  display: none;
}

.text-accent {
  color: blueviolet;
}

.alertku {
  position: fixed;
  top: 300px;
  left: 30%;
  opacity: .3;
}

.column-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery {
  width: 50%;
  height: 200px;
  overflow: hidden;
}

.gallery img {
  height: 300px;
  background-size: cover;
  position: relative;
  left: -10px;
  top: -10px;
}

.item-center {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.blueviolet a {
  color: blueviolet;
}

.mini-background {
  background-image: url(img/pablo-garcia-saldana-K1YRblz-rD0-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
}

@media (min-width: 992px) {
  .nav-item {
    margin: 0 5px;
  }
  .btn.blueviolet {
    background-color: blueviolet;
    color: whitesmoke;
    margin-left: -90px;
    padding: 6px 40px;
  }
  .btn.blueviolet:hover {
    background-color: #5b05aa;
    color: #dddddd;
  }
  div.hero {
    margin-top: 125px !important;
    padding-bottom: 165px;
  }
  div.bg-image {
    background-image: url(img/sutirta-budiman-DxmBSgUYKis-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }
  .formSearch {
    margin-left: -30px;
  }
  .card {
    width: 24% !important;
    margin: 10px 0 !important;
  }
  .desc {
    width: 470px;
    margin: 0 auto;
  }
  .changes {
    overflow: hidden;
  }
  .changePos {
    position: relative;
    top: -28px;
  }
  .changes h5 {
    margin-top: -32px;
  }
  .navbar-collapse li {
    border-bottom: none;
  }
  .tombol-tengah {
    width: 25%;
    margin: 0 auto !important;
  }
  .text-tengah {
    text-align: left;
  }
  .gallery {
    width: 25%;
    height: 300px;
    overflow: hidden;
  }
  .gallery img {
    height: 400px;
    position: relative;
    left: -10px;
    top: -10px;
  }
  .item-center {
    margin: 0 auto;
    position: relative;
    left: 25%;
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */
>>>>>>> c9ca3881478544a498e6102413d71d83d123f09a
